version: "3.7"

services:
  server:
    build:
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    restart: always
    volumes:
      - ./dissertations:/usr/src/app/dissertations
    extra_hosts:
      - "database:95.163.231.174"
    environment:
      MAIL_PASSWORD: "vVtVASLsViAdwF6"
    container_name: "kasper-back"
  front:
    image: "jackblack178/kasper-front:localhost"
    ports:
      - "80:5173"
    restart: always
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - server
    container_name: "kasper-front"

networks:
  default:
    driver: bridge
    driver_opts:
      com.docker.network.driver.mtu: 1450
    name: kasper-test