<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Invite</title>
</head>
<body>
<h3>
    Здравствуйте, уважаемый аспирант, приписанный для прохождения аттестации к кафедре 22!
</h3>
<h4>Вы получили данное письмо ровно по этой причине.</h4>

<p>Приглашаем Вас зарегистрироваться в новой системе учета деятельности аспирантов по адресу <a
        href="https://www.kasper-mephi.ru">www.kasper-mephi.ru</a>!</p>
<p>
    Ваши
<ul>
    <li>
        Логин: {{ .Email }}
    </li>
    <li>
        Пароль: {{ .Password }}
    </li>
</ul>
Пароль Вы можете поменять в любой момент в своем личном кабинете.
<br>При первом входе в систему просим Вас заполнить информацию о себе.
</p>
Если в системе при заполнении отчета еще не будет Вашего  научного руководителя, оставьте опцию "Руководителя нет в
списке". Когда Ваш руководитель зарегистрируется, Вы сможете отредактировать этот раздел и у Вас появится возможность взаимодействовать.

<p>
    Отчет аспиранта состоит из трех частей, сведения размещены на трех отдельных вкладках:
<ul>
    <li>
        Отчет о работе над текстом рукописи,
    </li>
    <li>
        Отчет о научной работе (публикации, гранты и пр.),
    </li>
    <li>
        Отчет о педагогической практике.
    </li>
</ul>
Информация сгруппирована по семестрам. После заполнения
Вы можете отправить отчет на проверку. Отправляется сразу весь отчет, т.е. все три части. При отправке у вас будет
возможность написать текстовый комментарий.
</p>

<p>
    В первый раз нужно будет заполнить и подтвердить у научного руководителя также отчеты за все предыдущие семестры,
    далее только за текущий. Спасибо за понимание.
</p>
По умолчанию для редактирования доступен только текущий семестр. После вашей регистрации в течение нескольких дней мы дадим всем новым пользователям временную возможность редактировать прошлые семестры. Просим не затягивать и зарегистрироваться оперативно.
<p>
    Все вопросы по работе системы можно задать по почте <a href="mailto:EMAIL">chenpasha31@gmail.com</a>,
    <a href="mailto:EMAIL">craken567@gmail.com</a> или в <a href="https://t.me/+XxewVU2lZdE0MGUy">телеграмм чате</a>
    <br>Также будем благодарны за пожелания и советы, касающиеся функционала, интерфейса и иных аспектов работы системы.
</p>
</body>
</html>